In [1]:
def programmer():
    print("Hello I am Programmer")
    print("I Do Copy Paste")

programmer()

Hello I am Programmer
I Do Copy Paste

# Function is Block of Code which runs when it is called
# In Python a function is defined with the def keyword
# Functions can accept any number of arguments of any type
# Functions can optionally return data as well.This data may also be of any type.You can return more than one value as well
# Arguments can have default Values as well
# While Calling Functions The user may define arguments as keyword pairs;

In [4]:
def greet(name="You Know you Know"):
    print(f"Hello {name}")

greet("Anurag")
greet()

Hello Anurag
Hello You Know you Know

# Cube of Number

In [6]:
def cube(x):
    return x**3

print(cube(3))

27

In [8]:
# Multiple Return
def bio():
    return "Anurag",21,False

name,age,Relation = bio()
print("Name",name)
print("Age",age)
print("Status",Relation)

Name Anurag
Age 21
Status False

In [9]:
def data(name,skills):
    print(f" My name is {name} and skills {skills}")

data(skills=["Javascript","Typescript"],name="Anurag Raj")

 My name is Anurag Raj and skills ['Javascript', 'Typescript']

In [13]:
m =  10
def square(m): # Local variable Shadowed the Global Variable
    return m**2

def multipleoffive(): # Use Global Variable
    global m
    print(m**5)

print(square(5))
multipleoffive()

25
100000

# Map Function

In [14]:
def square(x):
    return x**2
a = [1,2,3,4,5]

b = list(map(square,a)) 
print(b)

[1, 4, 9, 16, 25]

# Lambda Function

In [15]:
square = lambda x:x**2
print(square(50))

2500

In [16]:
cube = lambda x:x**3
print(cube(50))

125000

In [17]:
multiply = lambda a,b:a*b
print(multiply(50,49))

2450

In [18]:
d = lambda b:[b**2,b+b]
print(d(10))

[100, 20]

In [ ]:
a = input().split()
for i in range(len(a)):
    a[i] = int(a[i])

def cube(x):
    return x**3

square = lambda x:x**2

b = list(map(cube,a))
print(b)

 1 2 3 4

[1, 8, 27, 64]

# Functions

In [1]:
def even_and_odd(n):
    if n%2==0:
        print("Even")
    else:
        print("Odd")

even_and_odd(45)

Odd

In [2]:
def add(a,b):
    return a+b

ans = add(45,56)
print(ans)

101

In [3]:
def add(a = 50,b=70):
    return a+b

ans = add(56)
print(ans)

126

In [5]:
def sub(a,b):
    return a-b

ans = sub(b=56,a=5)
print(ans)

-51

In [19]:
def add(*args):
    a = args
    return a
    
ans = add(1,2,1,3,2,1,2,1)
print(ans)

(1, 2, 1, 3, 2, 1, 2, 1)

In [14]:
def print_details(**kwargs):
    for i,j in kwargs.items():
        print(i,j)

print_details(name="JS",value="Java")

name JS
value Java

In [20]:
def convert_temp(temp,unit):
    """This Function Convert Temp bw c to f"""
    if unit=='C':
        return temp * 9/5 + 32 ##Celcius to F
    elif unit=='F':
        return (temp-32)*(5/9)
    else:
        return None

convert_temp(56,'C')
convert_temp(12,'F')
convert_temp(12,'D')

In [21]:
def is_strong(password):
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#$%^&*/*-+' for char in password):
        return False
    return True

print(is_strong('772002'))

False

In [23]:
def calculate_total_cost(cart):
    total_cost = 0
    for  item in cart:
        total_cost+=item['price']*item['quantity']
        
    return total_cost

cart=[
    {'name':"Apple","price":0.5,"quantity":4},
    {'name':"Orange","price":0.3,"quantity":2},
    {'name':"Peach","price":0.8,"quantity":5},
]

ans = calculate_total_cost(cart)
print(ans)

6.6

In [24]:
def ispalind(s):
    s = s.lower().replace(" ","")
    return s==s[::-1]

ans = ispalind("A man a plan a canal Panama")
print(ans)

True

In [26]:
def fac(n):
    if n==0:
        return 1
    return n*fac(n-1)

print(fac(5))

120

In [27]:
def count_word(file_path):
    word_count = {}
    with open(file_path,'r') as file:
        for line in file:
            words = line.split()
            for word in words:
                word =word.lower().strip()
                word_count[word] = word_count.get(word,0)+1

    return word_count

file_path = "a.txt"
ans = count_word(file_path)
print(ans)

{'hello': 1, 'this': 1, 'is': 1, 'python': 1}

# Lambda Function

In [28]:
lambda a,b:a+b # anonymous function
addition = lambda a,b:a+b
print(addition(45,56))

101

In [29]:
even = lambda a:a%2==0
print(even(12))

True

In [37]:
num = [1,2,3,4,5,6]
cube = lambda num : num ** 3
list(map(cube,num))

[1, 8, 27, 64, 125, 216]

In [38]:
num1=[1,2,3]
num2=[4,5,6]

added = list(map(lambda x,y:x+y,num1,num2))
print(added)

[5, 7, 9]

In [39]:
# map to convert list of string into numbers
# str.upper for capitalize

# Filter Function

In [40]:
lst = [1,2,3,1,5,6,4,5,6]
even = lambda a:a%2==0
print(list(filter(even,lst)))

[2, 6, 4, 6]

In [42]:
people = [
 {"name":"a","age":18},
 {"name":"b","age":20},
 {"name":"c","age":12},
]

def filter_age(people):
    return people['age']>17


ans = list(filter(filter_age,people))
print(ans)

[{'name': 'a', 'age': 18}, {'name': 'b', 'age': 20}]