In [5]:
cars = ["Buggati","Lamborghini","Tesla","Maclaren","BMW"]
print(cars)

['Buggati', 'Lamborghini', 'Tesla', 'Maclaren', 'BMW']

In [6]:
cars[0:2:1]

['Buggati', 'Lamborghini']

# [start:end:jump] start from start and goes till end-1

In [8]:
b = cars[2:5:]
print(b)

['Tesla', 'Maclaren', 'BMW']

In [11]:
c = cars[4:1:-1]
print(c)

['BMW', 'Maclaren', 'Tesla']

# Reverse the List

In [1]:
a = [4,5,8,1,9,2];
print(a[::-1])

[2, 9, 1, 8, 5, 4]

# List Comprehension

In [3]:
res = [ i**2 for i in range(1,101)]
for i in res:
    print(i,end=" ")

1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801 10000

In [5]:
# Filter out multiple of 5
[i for i in res if i%5==0]

[25,
 100,
 225,
 400,
 625,
 900,
 1225,
 1600,
 2025,
 2500,
 3025,
 3600,
 4225,
 4900,
 5625,
 6400,
 7225,
 8100,
 9025,
 10000]

# Tuples
# Tuples are used to store multiple items in a single variable.

# A tuple is a collection which is ordered and immutable (unchangeable).

# Tuples are written with round brackets.

# Tuple items are indexed; the first item has index [0], the second item has index [1], etc.

# Tuples can be created with the tuple constructor: tuple().

# Tuples can also be created by simply writing multiple values with comma separation.

# Tuples are processed faster than lists in Python.

In [6]:
vowels = ("a","e","i","o","u")
print(vowels)

('a', 'e', 'i', 'o', 'u')

In [7]:
print(type(vowels))

<class 'tuple'>

In [8]:
planets=("Mercury","Venus","Hmar Gola","Mars","Jupiter","Saturn")
print(planets)

('Mercury', 'Venus', 'Hmar Gola', 'Mars', 'Jupiter', 'Saturn')

In [9]:
#decleration
a = tuple()

In [10]:
a = tuple([1,2,4,5,6,3])
print(a)

(1, 2, 4, 5, 6, 3)

# Value change in tuple
# We can't directly change value in tuple so we convert it into list
# Tuple is faster than list

In [12]:
a = (1,2,3,4)
b = list(a)
b[0] = 10
a = tuple(b)
print(a)

(10, 2, 3, 4)

In [13]:
a = [1,2,3]
b = ('a','b',a)
a.append([1,2,3])
print(b)

('a', 'b', [1, 2, 3, [1, 2, 3]])

# Sorted

In [16]:
a = (1,4,10,12,14,18,20)

flag = True

for i in range(len(a)-1):
    if a[i]>a[i+1]:
        flag=False

if flag:
    print("Sorted")
else:
    print("Not Sorted")

Sorted

# Function Args

In [18]:
def product(*args):
    print(args,type(args))
    p = 1
    for i in args:
        p = p*i

    print(p)

product(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6) <class 'tuple'>
720