In [5]:
cars = ["Buggati","Lamborghini","Tesla","Maclaren","BMW"]
print(cars)

['Buggati', 'Lamborghini', 'Tesla', 'Maclaren', 'BMW']

In [5]:

a = [5,6,7,8,9]
print(a[::-1])

[9, 8, 7, 6, 5]

# [start:end:jump] start from start and goes till end-1

In [8]:
b = cars[2:5:]
print(b)

['Tesla', 'Maclaren', 'BMW']

In [11]:
c = cars[4:1:-1]
print(c)

['BMW', 'Maclaren', 'Tesla']

# Reverse the List

In [1]:
a = [4,5,8,1,9,2];
print(a[::-1])

[2, 9, 1, 8, 5, 4]

# List Comprehension

In [6]:
res = [ i**2 for i in range(1,101)]
even = [x for x in range(0,101) if x%2==0 and x%5==0]
print(even)
# for i in res:
#     print(i,end=" ")

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# Filter out multiple of 5
a = [1,2,3,4,5]

ans = 

# [i for i in res if i%5==0]

[25,
 100,
 225,
 400,
 625,
 900,
 1225,
 1600,
 2025,
 2500,
 3025,
 3600,
 4225,
 4900,
 5625,
 6400,
 7225,
 8100,
 9025,
 10000]

# Tuples
# Tuples are used to store multiple items in a single variable.

# A tuple is a collection which is ordered and immutable (unchangeable).

# Tuples are written with round brackets.

# Tuple items are indexed; the first item has index [0], the second item has index [1], etc.

# Tuples can be created with the tuple constructor: tuple().

# Tuples can also be created by simply writing multiple values with comma separation.

# Tuples are processed faster than lists in Python.

In [ ]:
# a = tuple()
# b = list(a)
# b.append(45)
# b.append(45)
# b.append(45)
# a = tuple(b)
# print(a)
# vowels = ("a","e","i","o","u")
# print(vowels)

(45, 45, 45)

In [ ]:
# print(type(vowels))
t = (1,2,3,4,5)
l = list(t)
l[1] = 8
t = tuple(l)
print(t)

(1, 8, 3, 4, 5)

In [8]:
planets=("Mercury","Venus","Hmar Gola","Mars","Jupiter","Saturn")
print(planets)

('Mercury', 'Venus', 'Hmar Gola', 'Mars', 'Jupiter', 'Saturn')

In [9]:
#decleration
a = tuple()

In [10]:
a = tuple([1,2,4,5,6,3])
print(a)

(1, 2, 4, 5, 6, 3)

# Value change in tuple
# We can't directly change value in tuple so we convert it into list
# Tuple is faster than list

In [12]:
a = (1,2,3,4)
b = list(a)
b[0] = 10
a = tuple(b)
print(a)

(10, 2, 3, 4)

In [ ]:
a = [4,5,6]
t = ('a','b',a)
a.append([7,8,9])
print(t)

('a', 'b', [4, 5, 6, [7, 8, 9]])

# Sorted

In [16]:
a = (1,4,10,12,14,18,20)

flag = True

for i in range(len(a)-1):
    if a[i]>a[i+1]:
        flag=False

if flag:
    print("Sorted")
else:
    print("Not Sorted")

Sorted

# Function Args

In [ ]:
# def product(*args):
#     print(args,type(args))
#     p = 1
#     for i in args:
#         p = p*i

#     print(p)

# product(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6) <class 'tuple'>
720

In [17]:

def func(*args):
  print(args)

func(1,2,3,4,5)

(1, 2, 3, 4, 5)