In [1]:
print("Hello World")

Hello World

# Print Statement - args,end,sep

In [2]:
print("JS","TS",end="#",sep="%%%")

JS%%%TS#

# Multiline Comments and Single Line Comments

In [4]:
# This is python  Single line comment
a  =  '''Hello This is
  Multiline String 
'''
print(a)

Hello This is
  Multiline String

# Branching

In [6]:
age = 18
if age>=18:
    print("Adult")
else:
    print("Not Eligible")

Adult

In [10]:
temp = 15
if temp >= 15:
    print("Its Colder Today")
elif temp>=16 and  temp<= 25:
    print("Its Moderate Today")
else:
    print("Its Hotter Today")

Its Colder Today

In [13]:
n = 100
i = 0
while(i<=n):
    print(i,end= " ")
    i=i+1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
'''
Pattern 1

*
**
***
****
*****
******
*******
'''


n = int(input("Enter the Number"))
i = 1
while i<=n:
    print(i*"*")
    i=i+1

Enter the Number 10

*
**
***
****
*****
******
*******
********
*********
**********

# Range

In [17]:
for i in range(1,11,1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [20]:
# print Even Number
for i in range(0,101,2):
    print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [21]:
# Create List of Even Number  
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [22]:
# print Even Number
for i in range(0,101,2):
    print(i*i,end=" ")

0 4 16 36 64 100 144 196 256 324 400 484 576 676 784 900 1024 1156 1296 1444 1600 1764 1936 2116 2304 2500 2704 2916 3136 3364 3600 3844 4096 4356 4624 4900 5184 5476 5776 6084 6400 6724 7056 7396 7744 8100 8464 8836 9216 9604 10000

In [25]:
# print Even Number
for i in range(100,-1,-2):
    print(i*i*i,end=" ")

1000000 941192 884736 830584 778688 729000 681472 636056 592704 551368 512000 474552 438976 405224 373248 343000 314432 287496 262144 238328 216000 195112 175616 157464 140608 125000 110592 97336 85184 74088 64000 54872 46656 39304 32768 27000 21952 17576 13824 10648 8000 5832 4096 2744 1728 1000 512 216 64 8 0

In [27]:
for c in "Hello World":
    print(c,end=" ")

H e l l o   W o r l d

# Print Sum of Digits

In [29]:
n = int(input("Enter the Number"))
sum = 0
while n>0:
    last=n%10
    sum = sum + last
    n = n//10
print(sum)

Enter the Number 45132

15

In [35]:
'''
*******
******
*****
****
***
**
*
'''

n = int(input())

i = 1;
while i<=n:
    print((n-i+1)*"*")
    i=i+1

 5

*****
****
***
**
*

In [ ]:
'''
0001000
0023200
0345430
4567654
'''
n = int(input("Enter The Row"))

for i in range(1,n+1):
    # print 0 row-1 times first 
    print("0"*(n-i),end="")
    # start form i goes 2i-1
    for j in range(i,2*i):
        print(j,end="")
    for j in range(2*i-2,i-1,-1):
        print(j,end="")
    #print zero again
    print("0"*(n-i))

Enter The Row 5

000010000
000232000
003454300
045676540
567898765