## Sets

A **Set** is an unordered collection of items with the following properties:

* Every element is **unique** and **immutable**.
* However, the set itself is **mutable** (you can add or remove items).

---

### Creating a Set

There are two ways of creating a set:

* Putting all the elements inside **curly braces** `{"{" and"}"}`.
* Using the **`set()`** method (This is required for creating an empty set).

---

### Modifying and Querying Sets

* **Adding elements** to a set: **`add()`**, **`update()`**
* **Removing elements** from set: **`remove()`**, **`discard()`**

---

### Performance

* Python sets allow fast **insertion**, **deletion** and **searching** due to their underlying hash-table implementation.

In [2]:
# Sets
a = {1,4,0,2,3,100,50,22,46,-9,-3,-2,"hello","world"}
print(a)

{0, 1, 2, 3, 4, 100, 'world', 'hello', 46, 50, 22, -9, -3, -2}

In [ ]:
#Searching in Set take O(1) time
#Set Uses Hashing 
if 4 in a:
  print("Present")

# add the element
a.add(0)
a.add(("1","2"))
a.update('1') #  Set me iterable add karne ke liye with// Only unique character added
# remove the element
# a.remove(100)
print(a)

Present
{0, 1, 2, 3, 4, '1', 'world', ('1', '2'), 'hello', 46, '2', 50, 22, -9, -3, -2}

# Print Unique movie

In [17]:
friend1 = [
    'How I Met Your Mother',
    'Breaking Bad',
    'The Wire'
]

friend2 = [
    'Breaking Bad',
    'Westworld',
    'The Office'
]

friend3 = [
    'Sopranos',
    'Game of Thrones',
    'Sherlock'
]

friend4 = [
    'Friends',
    'Sherlock',
    'Daredevil'
]

In [18]:
s = set()
s.update(friend1,friend2,friend3,friend4)
print(s)

{'The Wire', 'Daredevil', 'Breaking Bad', 'The Office', 'Sopranos', 'Sherlock', 'Westworld', 'Friends', 'How I Met Your Mother', 'Game of Thrones'}

## Dictionaries

* They are used to store data in a **key-value pair** format.
* The **keys** are always **unique** within a dictionary.
* The **values** of the Python dictionary may or may not be unique.
* The values within a dictionary can be of **any data type**. However, the **keys** must be **immutable**. Hence, the key can only be **strings, numbers, or tuples**.
* Dictionaries can be created using the **`dict()` constructor** or with **curly brackets** - `{}`.

In [21]:
currency = {
  "India":"Rupees",
  "US":"Dollers",
  "France":"Euros",
  "Japan":"Yen"
}
# List is not become but tuple can
del currency["US"] # delete US
currency[' El Slvador '] = set(['USD',"Bitcoin"])
print(currency["India"])
print(currency)

Rupees
{'India': 'Rupees', 'France': 'Euros', 'Japan': 'Yen', ' El Slvador ': {'Bitcoin', 'USD'}}

In [ ]:
#Return Key or Value
currency.keys()
currency.values()

dict_values(['Rupees', 'Euros', 'Yen', {'Bitcoin', 'USD'}])

# Palindrone

In [ ]:
# Time Complexity O(n)
def solve(s):
  freq= {}
  # Iterate over a string
  for char in s:
    if char in freq:
      freq[char]+=1
    else:
      freq[char]=1

  #Iterate over freq and find the total number of odd Element
  count = 0
  for frequency in freq.values():
      if frequency%2==1:
        count+=1

  if count<=1:
    return 1
  else:
    return 0

In [39]:
solve("abcde")

0

In [41]:
a = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]
print(a[1][4])

10

In [49]:
# Iteration in 2D Array
for row in a:
  for col in row:
    print(col,end=" ")
  print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15

In [53]:
# How to take user Input
r,c = map(int,input().split())
print(r,c)

2 2

In [54]:
a = []
# read the input row by row
for i in range(r):
  row = list(map(int,input().split()))
  a.append(row) 

print(a)

[[1, 2], [3, 4]]

# Sets

In [1]:
# Not follow only order and contains unique Elements

In [3]:
my_set = {1,3,2,1,5,4,5,4,5,5,4,2,1,2,3};
print(my_set)

{1, 2, 3, 4, 5}

In [5]:
print(type(my_set))

<class 'set'>

In [7]:
my_set.add(6) # Add The Element
print(my_set)
my_set.remove(6) # Remove the element
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}

In [8]:
my_set.discard(50) # see if element is there delete it otherwise do nothing

In [9]:
removed = my_set.pop()
print(removed) # pehla wala udd jayega

1

In [10]:
my_set.clear() # to delete all element

In [11]:
print(3 in my_set) # Linear Search

False

In [16]:
set1 = {1,2,3,4,5,6,7,8}
set2 = {1,2,3,4,5}
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
# set1.intersection_update(set2) # update the set one with intersection answer
diff_set = set1.difference(set2) # unique element in set 1
print(union_set)
print(intersection_set)
print(diff_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5}
{8, 6, 7}

In [17]:
ans = set1.symmetric_difference(set2) # Unique in both Combine
print(ans)

{6, 7, 8}

In [20]:
# Set Methods
set1 = {1,2,3}
set2  = {3,4,5}
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
False

In [24]:
text = "dasduasdgasdjsgdjsadgjhjh shdgasjd"
s = set(text)
print(len(s))

8

# Dictionary

## Unordered Collection of items , key must be Unique , Store in key value pair

In [25]:
empty_dict = {}
dict = dict() # creating dictionary

In [27]:
lang = {"name":"Python","abb":"py"}
print(lang)

{'name': 'Python', 'abb': 'py'}

In [30]:
# Accesing Dict Element
print(lang['name'])
print(lang.get('name'))
print(lang.get('something')) # Give None
print(lang.get('something',"Something")) # Give None use default value

Python
Python
None
Something

In [33]:
# Modifying Dict Element
# Dict are mutable we can add delete update or add th element

lang["name"] = "Java" # update
lang["age"] = 35  # add
del lang['abb'] # delete
print(lang)

{'name': 'Java', 'age': 35}

In [35]:
# Methods in dict
keys = lang.keys()
print(keys)

values = lang.values()
print(values)

items = lang.items()
print(items)

dict_keys(['name', 'age'])
dict_values(['Java', 35])
dict_items([('name', 'Java'), ('age', 35)])

## Shallow Copy

In [36]:
lang_copy = lang # Deep Copy , both values and reference copied
print(lang_copy)
print(lang)

{'name': 'Java', 'age': 35}
{'name': 'Java', 'age': 35}

In [37]:
lang_copy = lang.copy() # Shallow Copy, only values goes and not reference
print(lang_copy)
print(lang)

{'name': 'Java', 'age': 35}
{'name': 'Java', 'age': 35}

In [38]:
for keys in lang.keys():
    print(keys)

name
age

In [39]:
for keys in lang.values():
    print(keys)

Java
35

In [40]:
for keys,values in lang.items():
    print(keys,values)

name Java
age 35

# Nested Dictionary

In [41]:
user = {
    "lang1":{"name":"Golang","abb":"go"},
    "lang2":{"name":"Solidity","abb":"sol"},
    "lang3":{"name":"Java","abb":"java"},
}
print(user["lang1"]["name"])

Golang

In [45]:
for lang,langvalue in user.items():
    for key,value in langvalue.items():
        print(f"Keys:{key} Values:{value}")

Keys:name Values:Golang
Keys:abb Values:go
Keys:name Values:Lua
Keys:abb Values:lua
Keys:name Values:Java
Keys:abb Values:java

In [46]:
# Dict comprehension
squares = {x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [48]:
evens = {x:x**2 for x in range(5) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16}

In [49]:
num = [1,2,3,4,5,4,5,4,5,4,5,6,4,5,4,2,1,3]
frequency = {}
for numbers in num:
    if numbers in frequency:
        frequency[numbers] +=1
    else:
        frequency[numbers] = 1
print(frequency)

{1: 2, 2: 2, 3: 2, 4: 6, 5: 5, 6: 1}

In [52]:
dict1 = {"a":1,"b":2}
dict2 = {"a":1,"b":3,"c":3}
merged = {**dict1,**dict2}
print(merged)

{'a': 1, 'b': 3, 'c': 3}

In [55]:
# Todo List
todo_list = ["IDK1","IDK2"]
todo_list.append("IDK3")
todo_list.append("IDK4")
print(todo_list)

['IDK1', 'IDK2', 'IDK3', 'IDK4']

In [56]:
todo_list.remove("IDK1")
print(todo_list)

['IDK2', 'IDK3', 'IDK4']

In [58]:
if "IDK4" in todo_list:
    print("Search it")

Search it

In [59]:
# max and min and sum and len aggregate function

In [62]:
lst = [i for i in range(1,11)]
tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [65]:
first = 0 
mid = len(lst)//2
last = len(lst)-1
print(f" First {tup[first]} Middle {tup[mid]} Last {tup[last]}")

 First 1 Middle 6 Last 10

In [68]:
print(tup[0:3:])

(1, 2, 3)

In [70]:
tup_2d =((1,2,3),(4,5,6),(7,8,9))
print(tup_2d[1][2])

6

In [73]:
tup1 = (1,2,3,4,5)
tup2 = (1,2,3,4,5)
merge_tup1 = (tup1,tup2)
merge_tup2 = tup1+tup2
print(merge_tup2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [79]:
index = -1
count = 0
for i in range(len(merge_tup2)):
    if merge_tup2[i]==3:
        count+=1
        if(count==1):
           index = i

print(f"The First Occurance is {index} and Count is {count}")

The First Occurance is 2 and Count is 2

In [80]:
a,b,c,d,e = "AJ","BJ","CJ","DJ","EJ"
print(a,b,c,d,e)

AJ BJ CJ DJ EJ

In [81]:
lst = [ i for i in range(1,6)]
tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5)

In [91]:
tuples = ((1,2,3),(4,5,6),(7,8,9))

for i in range(len(tuples)):
    for j in range(len(tuples[i])):
        print(tuples[i][j],end=" ")
    print()


for i in tuples:
    print(i)

1 2 3
4 5 6
7 8 9
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [92]:
tup1 = (1,2,3,4,5)
lst = list(tup1)
lst.append(6)
tup1 = tuple(lst)
print(tup1)

(1, 2, 3, 4, 5, 6)

In [93]:
tup_str = ("S","o","m","e","t","h","i","n","g")

ans = ""

for i in tup_str:
    ans = ans + i
print(ans)

Something

In [94]:
dictionary = {
    (1,2,3):"Typescript"
}
print(dictionary[(1,2,3)])

Typescript

In [95]:
tup1 = (1,1,1,1,1,1,1,1,1,1,2,2)
set1 = set(tup1)
print(set1)

{1, 2}

In [97]:
def answer(tup):
    ans = sum(tup)
    mini = min(tup)
    maxi = max(tup)

    return ans,mini,maxi



tup1 = (1,2,3,4,5,6)
a,b,c =  answer(tup1)
print(f"The Sum is {a} The Minimum is {b} and Maximum is {c}")

The Sum is 21 The Minimum is 1 and Maximum is 6

In [ ]:
# Sets